
wqmac/__pycache__/settings.cpython-35.pyc

wqmac/__pycache__/settings.cpython-35.pyc

*.pyc

*.pyc

wqmac/__pycache__/settings.cpython-35.pyc

.idea/workspace.xml

.idea/modules.xml

.idea/misc.xml

.idea/wqmac.iml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

wqmac/__pycache__/settings.cpython-35.pyc
